
.random-rate {
  user-select: none;
  position: relative;
  border: 1px solid #7b97b5;
  padding: 20px 40px;
  border-radius: 5px;
  background: transparent;
  color: #7b97b5;
  transition-duration: .2s;
  font-size: 14px;
  font-weight: 100;

  &--playing {
    border-color: rgb(233, 72, 72);
    color: rgb(233, 72, 72);
  }

  &:hover {
    cursor: pointer;
  }
}
